body {
  background-image: url('images/pozadie.jpg');
}

h2 {
  font-family: 'Saira Stencil One', cursive;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  line-height: 3.1rem;
}

.fa {
  color: #000;
}

@media (min-width: 280px) and (max-width: 319px) {
  ul.navbar-nav {
    align-items: center;
    margin-bottom: 20px;
  }

  li.nav-item {
    width: 75%;
  }

  li.nav-item a {
    text-align: center;
    display: block;
    border-bottom: solid 1px white;
    font-size: 1rem;
  }

  .dropdown-menu.show a {
    font-size: 0.8rem;
  }

  .navbar-brand {
    font-size: 1.5rem !important;
  }

  #navbarNavDropdown {
    overflow-y: scroll !important;
    max-height: 250px !important;
  }

  .btn-secondary {
    min-height: 65px;
    height: auto !important;
  }
}

@media (min-width: 320px) and (max-width: 369px) {
  ul.navbar-nav {
    align-items: center;
    margin-bottom: 20px;
  }

  li.nav-item {
    width: 75%;
  }

  li.nav-item a {
    text-align: center;
    display: block;
    border-bottom: solid 1px white;
    font-size: 1.2rem;
  }

  .dropdown-menu.show a {
    font-size: 0.9rem;
  }

  .navbar-brand {
    font-size: 1.3rem !important;
  }
}

@media (min-width: 370px) and (max-width: 990px) {
  ul.navbar-nav {
    align-items: center;
    margin-bottom: 20px;
  }

  li.nav-item {
    width: 75%;
  }

  li.nav-item a {
    text-align: center;
    display: block;
    border-bottom: solid 1px white;
    font-size: 1.2rem;
  }

  .dropdown-menu.show a {
    font-size: 1.1rem;
  }

  .h {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 990px) {
  li.nav-item {
    text-align: center;
    border-bottom: none;
  }

  .h {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navbar .navbar-brand {
  color: #FFF;
  font-size: 1.7rem;
  font-family: 'Saira Stencil One', cursive;
}

.nav-item a {
  font-size: 1.2rem;
}

#scroll {
  z-index: 100;
}

.btn {
  white-space: normal !important;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 700;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  margin: 0.5rem !important;
  font-size: 1.4rem;
  line-height: 1.1;
  border-radius: 0.25rem !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 100%;
}

.btn-secondary {
  color: #fff !important;
  background-color: #009B77;
  border-color: #fff !important;
  border-width: 3px !important;
  height: 65px;
  overflow: hidden;
}

.btn-secondary:hover {
  color: #fff !important;
  background-color: #009B77;
  border-color: #000 !important;
  border-width: 3px !important;
  height: 65px;
}

.row {
  margin-right: 0 !important;
}

.mt-15 {
  margin-top: 80px;
}

.mb-15 {
  margin-bottom: 130px;
}

hr {
  height: 1px;
  color: #fff;
  background-color: #fff;
  border: none;
}

.progress-bar-striped {
  width: 55%;
}

.fb-com {
  background-color: rgba(255, 255, 255, 0.85);
  border-style: solid;
  border-color: #000;
}

.nav-item a:hover {
  color: #fff !important;
}

#navbarNavDropdown .nav-item a:hover {
  color: #009B77 !important;
}

.navbar {
  padding: 0rem 0.5rem !important;
}

ul li {
  height: 64px;
}

ul li a {
  padding-top: 17px !important;
}

ul li a:hover {
  background-color: #333;
  height: 100%;
}

.nav-link {
  display: inline-block;
}

.cosi a:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 0.1rem;
  left: 50%;
  position: relative;
  background: #009B77;
  transition: width 0.6s ease 0s, left 0.6s ease 0s;
  width: 0;
}

.cosi a:hover:after {
  width: 100%;
  left: 0;
}

.cosi a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.jumbotron {
  margin-bottom: 0 !important;
}

.bg-dark {
  background-color: #333;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.custom-btn {
  font-size: 1.2rem;
  font-weight: bold;
  min-height: 50px;
  min-width: 100px;
  border: solid 3px black;
}

.custom-btn:hover {
  font-weight: bold;
  min-height: 50px;
  min-width: 100px;
  border: solid 3px #009B77;
}

/*marquee */
.cont {
  width: 100%;
  overflow: hidden;
  background-color: #009B77;
}

.scorri {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 64px;
}

.tithome {
  animation-name: marquee;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  flex-shrink: 0;
}

.tithome li {
  width: fit-content;
  display: inline-block;
  list-style: none;
  padding-right: 30px;
  padding-top: 0.5rem;
  font-size: 2rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.saira {
  font-family: 'Saira Stencil One', cursive;
}

.gold {
  color: #EEE8AA;
}

.bronze {
  color: #cd7f32;
}

.silver {
  color: #bec2cb
}

.icon {
  margin: 15px;
  color: #fff;
}

.icon:hover {
  color: #fff;
}