body {
	background: url('obrazky/pozadi_sede.png') #1c2228;
	margin: 20px 0px 0px 0px;
	font: 14px Verdana;
	min-width: 960px;
}

h2, h3, h4, h5, h6 {
	text-align: center;
	color: white;
	font-family: Arial;
	text-shadow: 3px 3px 7px black;
}

h2 {
	font-size: 1.7em;
	padding: 0px;
}

h1 {
	font-size: 2em;
	font-weight: normal;
	color: white;
	text-align: center;
	text-shadow: 2px 2px 1px #0a294b;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#logo h1 {	
	margin: 14px 0px 0px 10px;
}

nav ul {
	margin: 0px;
	list-style-type: none;
}

nav ul li {
	float: left;
	padding: 0px 25px;
	margin: 0 5px;
	font-size: 17px;
	height: 73px;
	line-height: 4.3em;	
}

nav ul li:hover, .aktivni {
	background: #ffbb00;
	box-shadow: 0px 0px 5px black;
}

nav a {
	color: white;
	text-decoration: none;
}

.col  {
	color: #2C7DC5;

}

.colred  {
	color: #c52c2c;

}

.centrovany  {
	text-align: center;
}

#centrovac {
	margin: 0px auto;
	width: 750px;
}

header {
	height: 20px;
	top: 0px;
	background: url('obrazky/pozadi_sede.png') #1c2228;
	width: 100%;
}

article {
	background: url('pozadie.jpg') ;
	padding: 20px 0px;
}

article header {
	width: 250px;
	float: lef;  
	position: static;
	background: none;
}

article section {
	width: auto;
	float: center; 
	opacity: 100%;
	padding: 0px;
	
}

footer {
	height: 40px;
	color: white;
    margin: 20px 0 0 30px;
	text-align:center;
}

footer a {
	color: 	#ffbb00;
	text-decoration: none;
}

.cistic {
	clear: both;
}

.vlevo {
	float: left;
}

#dovednosti  td {
	width: 33%;
	padding: 10px;
	vertical-align: top;
	border: 1px solid gray;
}

#dovednosti {
	border-collapse: collapse;
}

#reference img {
	border: 1px solid gray;
	padding: 6px;
	box-shadow: 3px 3px 6px #999999;
	margin-right: 6px;
}


a.odkazy, a.odkazy:visited, a.odkazy:active, a.odkazy:hover {font-size:25px; margin-top:5px; margin-bottom:5px; color:white; text-decoration:underline;}
  a.odkazy:hover {text-decoration:none;}
  table {
  margin-top:0px;
  }

  DIV.tlacitka a, DIV.tlacitka a:hover, DIV.tlacitka a:visited, DIV.tlacitka a:active {
  color:black;
  font-size:16px;
  display:block;
  padding:20px;
  font-family:arial;
  text-decoration:underline;
  font-weight: bold;
  }

  DIV.tlacitka a:hover{
  color:white;
  font-size:16px;
  display:block;
  padding:20px;
  font-family:arial;
  text-decoration:none;
  }

  table td {
  background:#CFA617;
  opacity: 90%;
  color:white;
  text-align:center;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  }